body {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos para el modo claro */
body.light-mode {
    background-color: #C5EDF5;
    color: #001C63;
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #001C63;
    color: #C5EDF5;
}

/* Estilo para el botón */
#colorButton {
    display: block;
    margin: auto;
    padding: auto;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#icon {
    font-size: 24px;
    transition: color 0.3s ease; /* Transición para suavizar el cambio de color */
}

/* Estilo para la imagen */
#imageElement {
    transition: border-color 0.3s ease; /* Transición para suavizar el cambio de color del margen */
}

.title {
    float: left; /* Mueve el texto a la izquierda */
    margin-right: 20px;
    font-family: "Kaushan Script";
}

.bio{
    float: left; /* Mueve el segundo bloque de texto a la izquierda */
    font-family: Kaushan Script;
}

.dev {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-style: normal;
    font-family: Kaushan Script;
}

.profile {
    float: right; /* Mueve la imagen a la derecha */
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    /* Estilos específicos para pantallas con ancho máximo de 600px */
}

/* Estilos generales */

@media (max-width: 768px) {
    /* Estilos para pantallas más pequeñas (tabletas) */
}

@media (max-width: 480px) {
    /* Estilos para pantallas más pequeñas (teléfonos móviles) */
}