body {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos para el modo claro */
body.light-mode {
    background-color: #C5EDF5;
    color: #001C63;
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #001C63;
    color: #C5EDF5;
}

/* Estilo para el botón */
#colorButton {
    display: block;
    float: right;
    margin: auto;
    padding: auto;
    padding-top: 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#icon {
    font-size: 24px;
    transition: color 0.3s ease; /* Transición para suavizar el cambio de color */
}

/* Estilo para la imagen */
#imageElement {
    transition: border-color 0.3s ease; /* Transición para suavizar el cambio de color del margen */
}

.title {
    float: left; /* Mueve el texto a la izquierda */
    margin-right: 20px;
    font-family: "Kaushan Script";
}

.description {
    float: left;
    font-family: "PT Sans";
}

.proyects {
    float: left;
    font-family: "Kaushan Script";
}

.descriptionproyects {
    width: 100%;
    float: left;
    font-family: "PT Sans";
}

.proyect1 {
    height: auto;
    width: 10%;
    float: left;
    font-family: "PT Sans";
    text-align: center;
}

.proyect2 {
    height: auto;
    width: 20%;
    float: center;
    font-family: "PT Sans";
    text-align: center;
}

.profile {
    float: right; /* Mueve la imagen a la derecha */
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    /* Estilos específicos para pantallas con ancho máximo de 600px */
}

/* Estilos generales */

@media (max-width: 768px) {
    /* Estilos para pantallas más pequeñas (tabletas) */
}

@media (max-width: 480px) {
    /* Estilos para pantallas más pequeñas (teléfonos móviles) */
}

/* Estilos para el menú en tema claro */
.light-mode li a {
    color: #001C63;
}

/* Estilos para el menú en tema oscuro */
.dark-mode li a {
    color: #C5EDF5;
}

/* Estilos generales para el menú */
nav {
    background-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    font-size: larger;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Kaushan Script";
}